
<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>I'm a future web developer living in Los Angele, California.</p>
		<p>All I do is eat, code, and sleep with passion. I am motivated to learn anything related to the web world, and my very last goal is to live a normal life as a web develoler.</p>
		<p>지극히 평범한 삶을 살기위해 시작한 코딩.</p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Learning Ruby on Rails</h2>
		<hr>
		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
	<div class="col-3 homepage_content">
		<h2>Stuff I built</h2>
		<hr>
		<% @projects.each do |project| %>
			<h3><a href="#"><%= link_to project.title, project %></h3>
			<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
</div>